.jumbotron {
    text-align: center;
    padding: 10px;
    color:red;
    background-color:darkgrey;
}

.btn {
    color: yellow;
    border: 2px solid black;
    text-align: center;
    border-radius: 10px;
    background-color: black;
    font-size: 12pt;
}

.answer:hover {
    background: white;
}

